<nav>
    <div class="site-title">
      <a href="/"><h1>Dear Diary</h1></a>
      <p>Express your thoughts here!</p>
    </div>
    <ul>
      <li><a href="/entries">Entries</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/blogs/create" class="new-entry-btn">New Entry</a></li>
      <li><a href="/logout" class="logout-btn">Logout</a></li>
    </ul>
</nav>