<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <div class="background"></div>

  <div class="error">
    <h1 class="text error-text">404 error</h1>
    <p>you are trying to go a page that does not exist, sorry! try <span class="link">https://dear-diary-roks.onrender.com/blogs</span></p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>