<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="background"></div>

  <div class="about content">
    <h2 class="about-title">About Us:</h2>
    <p class="about-content">Heyyy, welcome to <span class="text">Dear Diary</span>!</p><br/>
    <p class="about-content">This is a place where you can <span class="text">share</span> your thoughts freely.</p>
    <p class="about-content">Whether you're <span class="text">journalling</span> your day, or <span class="text">sharing</span> random stories, we're here for you.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>